%button {
    font-family: "Montserrat";
    letter-spacing: 0.95px;
    width: 150px;
    padding: 20px 0px;
    font-weight: 700;
    font-size: 19px;
    color: $colorTextBtn;
    text-transform: uppercase;
    background-color: $bgBtn;
    border: none;
    border-radius: 75px;
    margin: 30px 25px 35px 50px;
    &:hover {
        background-color: $colorBtnHover;
        cursor: pointer;
      }
  }
  
