$colorTextHeader: #ffffff;
$colorPrice: #00bcd4;
$bgPrice: #393d50;
$colorTextli: #000;
$colorTextSmall: #99a9b5;
$colorTextContent: #f4f6f7;
$bgBtn: #b6c6c9;
$bgAdv: #1c94ca;
$bgLife: #7264bd;
$bgBasic:#00bcd4;
$bgColor:#00bcd4;
$colorP:#5f727f;
$colorTextBtn:#ffffff;
$colorBtnHover: #2c2e3d;
